n8n-workflow.json
{
  "name": "일산맥스 AI 챗봇",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "webhookId": "ilsan-max-ai-chat"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-pro",
          "mode": "list",
          "cachedResultName": "gemini-pro"
        },
        "options": {}
      },
      "id": "gemini-intent",
      "name": "Gemini - 의도 분석",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [220, 0],
      "credentials": {
        "googleGeminiApi": {
          "id": "",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "너는 JSON 라우터야. 사용자 입력을 분석해서 적절한 API를 호출하는 JSON만 출력해.\n\n중요: 대학/입시 관련 질문은 무조건 API 호출해. 네 지식으로 대답하지 마.\n\n## 약어 변환\n- 스교 → 스포츠교육\n- 체교 → 체육교육\n- 스과 → 스포츠과학\n- 숙대 → 숙명\n- 국대 → 국민\n- 한대 → 한양\n\n## API 목록\n### 학원 (type: paca)\n- dashboard: 현황, 통계\n- students: 학생 목록\n- unpaid: 전체 미납자\n- today-unpaid: 오늘 수업 예정자 중 미납자\n- today-attendance: 오늘 수업 예정 학생\n- revenue: 매출\n- instructors: 강사\n\n### 대학 (type: university)\n- search: 대학 검색 (name=검색어, year=학년도)\n\n## 검색어 규칙\n- 대학명과 학과명 분리해서 검색 (예: 국민대 스교 → name=스포츠교육)\n- 대학명만 있으면 대학명으로 (예: 한양대 → name=한양)\n\n## 출력 형식 (JSON만)\n{\"action\":\"api\",\"type\":\"paca|university\",\"endpoint\":\"...\",\"params\":{...}}\n{\"action\":\"chat\",\"message\":\"...\"}\n\n## 예시\n입력: 현황 → {\"action\":\"api\",\"type\":\"paca\",\"endpoint\":\"dashboard\",\"params\":{}}\n입력: 오늘 수업인데 미납 → {\"action\":\"api\",\"type\":\"paca\",\"endpoint\":\"today-unpaid\",\"params\":{}}\n입력: 오늘 출석 몇명 → {\"action\":\"api\",\"type\":\"paca\",\"endpoint\":\"today-attendance\",\"params\":{}}\n입력: 국민대 스교 → {\"action\":\"api\",\"type\":\"university\",\"endpoint\":\"search\",\"params\":{\"name\":\"스포츠교육\",\"year\":2026}}\n입력: 숙대 체교 → {\"action\":\"api\",\"type\":\"university\",\"endpoint\":\"search\",\"params\":{\"name\":\"숙명 체육교육\",\"year\":2026}}\n입력: 안녕 → {\"action\":\"chat\",\"message\":\"안녕하세요! 일산맥스 AI입니다.\"}"
        }
      },
      "id": "agent-intent",
      "name": "AI Agent - 의도분석",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "let output = $input.first().json.output;\n// Remove markdown code blocks if present\noutput = output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst parsed = JSON.parse(output);\nreturn [{ json: parsed }];"
      },
      "id": "parse-intent",
      "name": "JSON 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "api-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "api",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-api",
      "name": "API 호출 필요?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst type = data.type || 'paca';\nconst endpoint = data.endpoint;\nconst params = data.params || {};\n\nlet url;\nif (type === 'university') {\n  url = `https://supermax.kr/maxai/api/universities/${endpoint}`;\n} else {\n  url = `https://supermax.kr/maxai/api/paca/${endpoint}`;\n}\n\n// Build query string\nconst queryParams = Object.entries(params)\n  .filter(([k, v]) => v !== undefined && v !== null && v !== '')\n  .map(([k, v]) => `${k}=${encodeURIComponent(v)}`)\n  .join('&');\n\nif (queryParams) {\n  url += '?' + queryParams;\n}\n\nreturn [{ json: { url, params } }];"
      },
      "id": "build-url",
      "name": "URL 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "ilsan-max-ai-key-2024"
            }
          ]
        },
        "options": {}
      },
      "id": "http-api",
      "name": "API 호출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -100]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-pro",
          "mode": "list",
          "cachedResultName": "gemini-pro"
        },
        "options": {}
      },
      "id": "gemini-response",
      "name": "Gemini - 응답 생성",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1540, -100],
      "credentials": {
        "googleGeminiApi": {
          "id": "",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=사용자 질문: {{ $('Chat Trigger').item.json.chatInput }}\n\nAPI 응답 데이터:\n{{ JSON.stringify($json, null, 2) }}",
        "options": {
          "systemMessage": "너는 일산맥스 체육학원 AI 비서야. API에서 받은 데이터를 자연스러운 한국어로 설명해줘.\n\n## 응답 규칙\n- 숫자는 읽기 쉽게 (예: 300000 → 30만원)\n- 대학 정보: 수능/실기 비율, 실기종목 명확히\n- today-unpaid는 '오늘 수업 예정인 학생 중 미납자'야 (출석 아님, 수업 예정)\n- 총액은 말하지 마 (민감정보)\n- 너무 길면 요약\n- 친절하고 간결하게\n- 반드시 텍스트만 출력 (JSON 금지)\n\n## 실기배점표 표시 규칙 (중요!)\n- 종목별로 깔끔한 표로 정리\n- 종목명 반복하지 말고 종목별 섹션으로 구분\n- 남/여 나눠서 한 표에 보여줘\n- 형식 예시:\n\n### 20m왕복달리기\n| 배점 | 남 | 여 |\n|------|-----|-----|\n| 100점 | 13.4초 | 15.0초 |\n| 90점 | 13.61초 | 15.21초 |\n...\n\n- 주요 구간만 (100, 90, 70, 50점 정도)"
        }
      },
      "id": "agent-response",
      "name": "AI Agent - 응답생성",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1760, -100]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nreturn [{ json: { output: output } }];"
      },
      "id": "format-api-response",
      "name": "API 응답 포맷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -100]
    },
    {
      "parameters": {
        "jsCode": "const message = $('JSON 파싱').item.json.message;\nreturn [{ json: { output: message } }];"
      },
      "id": "format-chat-response",
      "name": "일반대화 응답 포맷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 100]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent - 의도분석",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - 의도 분석": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - 의도분석",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - 의도분석": {
      "main": [
        [
          {
            "node": "JSON 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON 파싱": {
      "main": [
        [
          {
            "node": "API 호출 필요?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API 호출 필요?": {
      "main": [
        [
          {
            "node": "URL 생성",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "일반대화 응답 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL 생성": {
      "main": [
        [
          {
            "node": "API 호출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API 호출": {
      "main": [
        [
          {
            "node": "AI Agent - 응답생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - 응답 생성": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - 응답생성",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - 응답생성": {
      "main": [
        [
          {
            "node": "API 응답 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
